.header__logo {
  max-width: 104px;
  width: 100%;
  min-height: 25px;
  margin-left: 27px;
  background: url(../../../images/logo.svg) no-repeat;
  background-size: contain;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (min-width: 1024px) {
  .header__logo {
    max-width: 142px;
    min-height: 33px;
    margin: 0;
  }
}
