.popup__button_save {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
  margin: 0;
  width: 100%;
  min-height: 50px;
  border: none;
  border-radius: 2px;
}

@media screen  and (max-width: 767px) {
  .popup__button_save {
    font-size: 14px;
    line-height: 17px;
    margin: 10px auto 0;
    min-height: 46px;
  }
}

.popup__button_save:hover {
  background-color: rgba(0, 0, 0, .8);
}
