.profile__container {
  display: flex;
  justify-content: space-between;
  min-width: 336px;
  align-items: center;
  padding: 22px 0 0;
}

@media screen and (max-width: 767px) {
  .profile__container {
    min-width: 282px;
    padding: 0;
    justify-content: center;
  }
}
