.profile__info {
  margin: 0 auto 0 0;
  display: flex;
  max-width: 336px;
  flex-direction: column;
}

@media screen  and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    justify-content: center;
    margin-right: 0;
    text-align: center;
  }
}
