.popup__sign_content {
  justify-content: flex;
  align-items: flex;
}

.popup__sign_content::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .9;
}
