.profile {
  max-width: 282px;
  width: 100%;
  padding-top: 42px;
  display: grid;
  align-items: center;
  justify-items: center;
}


@media screen and (min-width: 1024px) {
  .profile {
    padding-top: 40px;
    grid-template-columns: 120px repeat(2, auto);
    grid-template-rows: auto;
    max-width: 880px;
  }
}
