.profile {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  max-width: 882px;
  position: relative;
  padding: 40px 0 0;
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 282px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 42px 0 0;
  }
}
