.popup__close {
  width: 32px;
  height: 32px;
  background: transparent url(../../../images/CloseIcon.svg) no-repeat center/contain;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  top: -40px;
  right: -40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
