.popup__error {
  max-width: 358px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  margin: 5px 0 0;
  opacity: 0;
  transition: .3s;
  min-height: 30px;
}

@media screen and  (max-width: 767px) {
  .popup__error {
    max-width: 342px;
  }
}
