.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url(../../../images/EditButton.svg) no-repeat center/contain;
  border: none;
  display: inline-block;
  outline: none;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
