.element__heart {
  width: 22px;
  height: 19px;
  background: #fff url(../../../images/element/heart.svg) no-repeat center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}

.element__heart:hover {
  opacity: .6;
}
