.profile__avatar-container {
  display: grid;
  position: relative;
  margin-bottom: 26px;
  justify-self: center;
  box-sizing: border-box;
  max-width: 120px;
  width: 100%;
  min-height: 120px;
  z-index: 1;
}

.profile__avatar-container::before {
  content: '';
  position: absolute;
  display: flex;
  width: 120px;
  height: 120px;
  bottom: 0;
  left: 0;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s linear 0s;
  z-index: 1;
}

.profile__avatar-container:hover::before {
  opacity: .6;
}

@media screen and (min-width: 1024px) {
  .profile__avatar-container {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }
}
