.element__heart-counter {
  margin: 0;
  max-width: 20px;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
