.element__delete {
  position: absolute;
  width: 18px;
  height: 19px;
  margin: 20px 0 0 244px;
  padding: 0;
  border: none;
  background: transparent url(../../../images/DeleteButton.svg) no-repeat center/contain;
}
