.profile__add-button {
  width: 150px;
  height: 50px;
  background: transparent url(../../../images/profile/plus.svg) no-repeat center;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  margin: 35px 0 0;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    background: transparent url(../../../images/profile/plusSmall.svg) no-repeat center;
    min-width: 100%;
    margin: 33px 0 0;
  }
}
