.profile__info-container {
  max-width: 282px;
  width: 100%;
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-columns: 37px auto 37px;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 1024px) {
  .profile__info-container {
    margin-left: 30px;
    justify-self: start;
    max-width: 336px;
    grid-template-columns: auto 24px;
    grid-template-rows: repeat(2, auto);
    grid-column: 2;
    grid-row: 1;
  }
}
