.header__button {
  margin: 0 0 0 24px;
  padding: 0;
  width: 56px;
  height: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  color: #A9A9A9;
  background-color: transparent;
  cursor: pointer;
}

.header__button:hover {
  opacity: .6;
}
