.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, .9);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s linear;
}
